<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Ramabhadra&display=swap" rel="stylesheet"> 
    <title>ArtPeaces Design - derrikxavier - Heroku App</title>
    
</head>
<header>
</header>
<div class="search"><button id="searchButton"><img src="/images/searchIcon.svg" alt="search"></button></div>
<!-- <div class="menu"><button id="menu"><img src="" alt="menu"></button></div> -->
<body>
<div id="pageBack">
<!--     SIDE NAVIGATION -->
    <main>
        <aside>
            <div class="logo">
                    <img src="/images/artPeaces_Logo.svg" alt="Logo">
            </div>

            <nav>
            <ul>
                <li>Vintage</li>
                <li>Modern</li>
                <li>Popular</li>
            </ul>
            </nav>
        </aside>
    <!--     SIDE NAVIGATION -->

<!--     BODY CONTENT -->
        <article>
        <div id="mainItems">

    <!--     <h1>Node is no big deal</h1> -->
    <div class="imgCont1">
    <img src="/images/starryNight.png" alt="starryNight">
            <div class="boxOne">
                    <h2>Van Gogh</h2>
                    <p>Starry Night<br>
                        $45</p>
                    <button>BUY</button>
            </div>
        </div>

        <div class="imgCont2">
<img src="/images/derrikDigitalPaint.png" alt="Derrik Digital Painting">
            <div class="boxTwo">
                    <h2>Derrik</h2>
                    <p>Self Portrait<br>
                        $65</p>
                    <button>BUY</button>
            </div>
        </div>
        </div>
        </article>
<!--     BODY CONTENT -->
        </main>
        </div>
        <!--     FOOTER -->
        <footer>
                <h3>derrikxavier &copy; 2019</h3>
                </footer>
        <!--     FOOTER -->

    </body>

</html>