<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="css/main.css">

        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ramabhadra&display=swap" rel="stylesheet">

        <title>ArtPeaces Design - derrikxavier - Heroku App</title>

</head>
<header>
</header>

<div class="search"><button id="searchButton"><img src="images/searchIcon.svg" alt="search"></button></div>
<div class="menu"><button id="menuButton"><img src="images/hamburgerMenu.svg" alt="menu"></button></div>

<div class="circleAccent"></div>
        <div id="pageBack">
<!-- SIDE NAVIGATION -->
                <main>
                            <aside>
                               
                                        <div class="logo">
                                                <img src="images/artPeaces_Logo.svg" alt="Logo">
                                        </div>
                                

                                <nav>
                                                <ul>
                                                <li>
                                                        <a>Vintage</a>
                                                </li>
                                                <li>
                                                        <a>Modern</a>
                                                </li>
                                                <li>
                                                        <a>Popular</a>
                                                </li>
                                                </ul>
                                </nav>
                                
                                    
                        </aside>
<!--  SIDE NAVIGATION -->

<!--  BODY CONTENT -->
                        <section id="content">
                                    <div class="items">


                                        <div class="imgCont1">
                                                <img src="images/starryNight.png" alt="starryNight">
                                                <div class="boxOne">
                                                        <p>Van Gogh</p>
                                                        <h2>Starry Night<br><br>
                                                                $45</h2>
                                                        <div class="details">
                                                                <h2>Details:</h2>
                                                                <p>
                                                                  This painting was made in 1889 with oil on canvas. 
                                                                </p>
                                                                <h2>Dimensions:</h2>
                                                                <p>74 cm x 92 cm</p>
                                                        </div>
                                                        <button>BUY</button>
                                                </div>
                                        </div>

                                        <div class="imgCont2">
                                                <img src="images/derrikDigitalPaint.png" alt="Derrik Digital Painting">
                                                <div class="boxTwo">
                                                        <p>Derrik</p>
                                                        <h2>Self Portrait<br><br>
                                                                $65</h2>
                                                        <div class="details">
                                                                <h2>Details:</h2>
                                                                <p>
                                                                A digital painting created in 2018 using an Ipad pro. 
                                                                </p>
                                                                <h2>Dimensions:</h2>
                                                                <p>50 cm x 50 cm</p>
                                                        </div>
                                                        <button>BUY</button>
                                                </div>
                                        </div>

                                        </div>   
                                </div>
                        </section>
<!--  BODY CONTENT -->

                </main>
        </div>

<!--  FOOTER -->
        <footer>
                <h3>derrikxavier &copy; 2019</h3>
        </footer>
<!--  FOOTER -->

</body>

</html>