/*-------MOBILE------------------*/
@media (max-width: 500px) {
  * {
    font-family: 'Nunito Sans', sans-serif; }

  header {
    display: hidden; }

  body {
    height: 75%;
    background-color: #252525;
    color: white;
    display: flex; }

  body h1 {
    font-size: 125%; }

  main {
    display: flex;
    padding: 25px 10px 10px 0px; }

  article h1 {
    color: white;
    font-size: 125%;
    padding: 25px 25px 25px 25px; }

  article p {
    padding: 25px 25px 25px 25px;
    width: 60%; }

  .mainItems {
    display: flex; }

  .boxOne {
    display: flex;
    position: relative;
    background-color: #43464F;
    width: 100%;
    height: 40%;
    margin: 15px 15px 15px 15px;
    border-radius: 15px; }

  .boxOne button {
    height: 25px;
    width: 40px;
    border-radius: 15px;
    background-image: linear-gradient(#292FE5, #28C9CD);
    border: none;
    margin: 150px 15px 0px 15px; }

  .boxTwo {
    display: flex;
    position: relative;
    background-color: #43464F;
    width: 100%;
    height: 40%;
    margin: 15px 15px 15px 15px;
    border-radius: 15px; }

  .boxTwo button {
    display: flex;
    height: 25px;
    width: 40px;
    border-radius: 15px;
    background-image: linear-gradient(#292FE5, #28C9CD);
    border: none;
    margin: 150px 15px 0px 15px; } }
/*Tablet-------------------------------*/
@media (max-width: 768px) and (min-width: 501px) {
  * {
    font-family: 'Nunito Sans', sans-serif; }

  body {
    height: 75%;
    background-color: #252525;
    color: white; }

  body h1 {
    font-size: 125%; }

  main {
    width: 100%;
    height: 75px;
    position: relative;
    margin-top: -16px; }

  article h1 {
    color: white;
    font-size: 125%;
    padding: 25px 25px 25px 25px; }

  article p {
    padding: 25px 25px 25px 25px;
    width: 60%; }

  .mainItems {
    display: flex; } }
/*Desktop-------------------------------*/
@media (min-width: 769px) {
  * {
    font-family: 'Nunito Sans', sans-serif; }

  body {
    height: 75%;
    background-color: #252525;
    color: white; }

  body h1 {
    font-size: 125%; }

  main {
    width: 100%;
    height: 75px;
    position: relative;
    margin-top: -16px; }

  article h1 {
    color: white;
    font-size: 125%;
    padding: 25px 25px 25px 25px; }

  article p {
    padding: 25px 25px 25px 25px;
    width: 60%; }

  .mainItems {
    display: flex; } }
/*-------MOBILE------------------*/
@media (max-width: 500px) {
  aside {
    background-color: #28c2ce;
    background-image: linear-gradient(#292FE5, #28C9CD);
    border-radius: 30px;
    list-style: none;
    display: flex;
    min-height: 500px;
    width: 50px; }

  .logo img {
    padding: 5px 5px 5px 5px; }

  nav {
    display: inline;
    overflow: hidden;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    float: left; }

  nav ul {
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0px 0px 75px 0px; } }
/*Tablet-------------------------------*/
@media (max-width: 768px) and (min-width: 501px) {
  nav {
    background-color: #28c2ce;
    background-image: linear-gradient(to right, #292FE5, #28C9CD);
    list-style: none;
    position: static;
    height: 75px;
    width: 100%; }

  nav ul {
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    float: right;
    padding: 25px 25px 25px 25px; }

  .logo img {
    padding: 10px 10px 10px 10px;
    height: 60px;
    width: 60px;
    position: absolute; } }
/*Desktop-------------------------------*/
@media (min-width: 769px) {
  nav {
    background-color: #28c2ce;
    background-image: linear-gradient(to right, #292FE5, #28C9CD);
    list-style: none;
    position: static;
    height: 75px;
    width: 100%; }

  nav ul {
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    float: right;
    padding: 25px 25px 25px 25px; }

  .logo img {
    padding: 10px 10px 10px 10px;
    height: 60px;
    width: 60px;
    position: absolute; } }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
