/*-------MOBILE------------------*/
@media (max-width:500px) {

header {
    position: absolute;
}

.logo {
    position: absolute;
    height: 40px;
    width:40px;
}

logo img {
    padding: 10px 10px 10px 10px;
}

}

/*Tablet-------------------------------*/
@media (max-width:768px) and (min-width: 501px){

}

/*Desktop-------------------------------*/
@media (min-width:769px){
    
}