/*-------MOBILE------------------*/
@media (max-width:500px) {

* {
    font-family: 'Nunito Sans', sans-serif;
}

html {
    background-color: #28C9CD;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 85%;
    min-height: 500px;
    // ^allows the footer to stay in place, and not stick to window bottom
    background-color: none;
    color:white;
    display: flex;
    border-radius: 0px 0px 60px 60px;
    position: absolute;
}


body h1 {
    font-size: 125%;
}

#pageBack {
    // ^allows the footer to stay in place, and not stick to window bottom
    background-color: #252525;
    color:white;
    display: flex;
    border-radius: 0px 0px 60px 60px;
    min-height:500px;
    width: 100%;
}

main {
    display: flex;
    padding: 10px 10px 30px 0px;
    max-width: 100%;
    width: 500px;
}

.search {
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: 75%;
}

#searchButton{
    position: absolute;
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    z-index: 2;
}

.menu {
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: 85%;
}

#menuButton{
    position: absolute;
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    z-index: 2;
}

article h1 {
    color:white;
    font-size: 125%;
    padding: 25px 25px 25px 25px;
}

article h2 {
    padding: 10px 10px 10px 10px;
}

article p {
    padding: 100px 25px 25px 25px;
    width: 60%;
    height: 50%;
    font-family: 'Ramabhadra', sans-serif;
}


.mainItems {
    display: flex;
}

.boxOne {
    display: flex;
    position: relative;
    background-color: #43464F;
    width: 100%;
    height: 40%;
    margin: 15px 15px 15px 15px;
    border-radius: 15px;
}
.boxOne button {
    height:25px;
    width:40px;
    border-radius: 15px;
    background-image: linear-gradient(#292FE5,#28C9CD);
    border: none;
    margin: 150px 15px 15px 15px;
    cursor:pointer;
    color:white;
}

.boxOne button:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.boxOne:hover {
    background-color: white;
    color:black;
}
.imgCont1 {
    display: flex;
    justify-content: center;
}

.imgCont1 img {
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 1;
}

.boxTwo {
    display: flex;
    position: relative;
    background-color: #43464F;
    width: 100%;
    height: 40%;
    margin: 15px 15px 15px 15px;
    border-radius: 15px;
}


.boxTwo button{
    height:25px;
    width:40px;
    border-radius: 15px;
    background-image: linear-gradient(#292FE5,#28C9CD);
    border: none;
    margin: 150px 15px 15px 15px;
    cursor:pointer;
    color:white;
}

.boxTwo:hover {
    background-color: white;
    color:black;
}

.boxTwo button:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.imgCont2 {
    display: flex;
    justify-content: center;
}

.imgCont2 img {
    width: 125px;
    height: auto;
    position: absolute;
    z-index: 1;
}
}
/*Tablet-------------------------------*/
@media (max-width:768px) and (min-width: 501px){


* {
    font-family: 'Nunito Sans', sans-serif;
}

#searchButton{
    display: none;
}

#menuButton{
    display: none;
}

body {
    height: 75%;
    background-color: #252525;
    color:white;
}


body h1 {
    font-size: 125%;
}


main {
   width: 100%;
   height: 75px;
   position: relative;
   margin-top: -16px;
}

article h1 {
    color:white;
    font-size: 125%;
    padding: 25px 25px 25px 25px;
}

article h2 {
    padding: 10px 10px 10px 10px;
}

article p {
    padding: 25px 25px 25px 25px;
    width: 60%;
    font-family: 'Ramabhadra', sans-serif;
}


.mainItems {
    display: flex;
}

.imgCont1 {
    display: flex;
}

.imgCont1 img {
    width: 60%;
    height: 60%;
    z-index: 1;
}

.imgCont2 {
    display: flex;
}

.imgCont2 img {
    width: 60%;
    height: 60%;
    z-index: 1;
}

.boxOne {
    display: flex;
    position: relative;;
    background-color: #43464F;
    width: 100%;
    height: 40%;
    margin: 15px 15px 15px 15px;
    border-radius: 15px;
}
.boxOne button {
    height:25px;
    width:40px;
    border-radius: 15px;
    background-image: linear-gradient(#292FE5,#28C9CD);
    border: none;
    margin: 150px 15px 15px 15px;
    cursor:pointer;
    color:white;
}

.boxOne button:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.boxTwo {
    display: flex;
    position: relative;;
    background-color: #43464F;
    width: 100%;
    height: 40%;
    margin: 15px 15px 15px 15px;
    border-radius: 15px;
}
.boxTwo button {
    height:25px;
    width:40px;
    border-radius: 15px;
    background-image: linear-gradient(#292FE5,#28C9CD);
    border: none;
    margin: 150px 15px 15px 15px;
    cursor:pointer;
    color:white;
}

.boxTwo button:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
}

/*Desktop-------------------------------*/
@media (min-width:769px){
    * {
        font-family: 'Nunito Sans', sans-serif;
        
    }
    
    #searchButton{
    display: none;
}

#menuButton{
    display: none;
}
    body {
        height: 75%;
        background-color: #252525;
        color:white;
    }
    
    
    body h1 {
        font-size: 125%;
    }
    
    main {
       width: 100%;
       height: 75px;
       position: relative;
       margin-top: -16px;
    }
    
    article h1 {
        color:white;
        font-size: 125%;
        padding: 25px 25px 25px 25px;
    }

    article h2 {
         padding: 10px 10px 10px 10px;
    }

    article p {
        padding: 25px 25px 25px 25px;
        width: 40%;
        font-family: 'Ramabhadra', sans-serif;
    }
    
    
    .mainItems {
        display: flex;
    }

    .imgCont1 {
        display: flex;
    }
    
    .imgCont1 img {
        width: 40%;
        height: 40%;
        z-index: 1;
    }
    
    .imgCont2 {
        display: flex;
    }

    .imgCont2 img {
        width: 40%;
        height: 40%;
        z-index: 1;
    }


    .boxOne {
        display: flex;
        position: relative;;
        background-color: #43464F;
        width: 100%;
        height: 300px;
        margin: 15px 15px 15px 15px;
        border-radius: 15px;
    }


    .boxOne button {
        height:40px;
        width:100px;
        border-radius: 15px;
        background-image: linear-gradient(#292FE5,#28C9CD);
        border: none;
        margin: 15px;
        cursor:pointer;
        color:white;
        right: 0;
    }
    
    .boxOne button:hover{
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }
    
    .boxTwo {
        display: flex;
        position: relative;
        background-color: #43464F;
        width: 100%;
        height: 300px;
        margin: 15px 15px 15px 15px;
        border-radius: 15px;
    }

    .boxTwo button {
        height:40px;
        width:100px;
        border-radius: 15px;
        background-image: linear-gradient(#292FE5,#28C9CD);
        border: none;
        margin: 15px;
        cursor:pointer;
        color:white;
        right: 0;
    }
    
    .boxTwo button:hover{
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }
}